.VideoViewerContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.VideoViewerFrame {
  width: calc(100% - 112px);
  height: calc(100% - 112px);

  border-radius: 20px;
}
